<%- include('../template/header.ejs') %>
<div class="container">
    <div class="row">
    <% for(var i=0; i<books.length; i++) {%>
        <div class="col mb-5">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><%= books[i].titre %></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%= books[i].auteur %></h6>
                    <p class="card-text"><%= books[i].type %> de <%= books[i].nbPages %> pages</p>
                    <a href="#" class="card-link">Supprimer</a>
                    <a href="#" class="card-link">Modifier</a>
                    <a href="/view-book/<%= books[i].id %>" class="card-link">Voir</a>
                </div>
            </div>
        </div>
     <% } %>
    </div>
</div>
<%- include('../template/footer.ejs') %>