<%- include('../template/header.ejs') %>


<div class="container d-flex justify-content-center">
    <form action="/new-book" method="post">
        <div class="mb-3">
          <label for="Title" class="form-label">Titre</label>
          <input type="text" value="<%= book.titre %>" name="Title" class="form-control" id="Title" required>
        </div>

        <div class="mb-3">
            <label for="Auteur" class="form-label">Auteur</label>
            <input type="text" value="<%= book.auteur %>" name="Auteur" class="form-control" id="Auteur" required>
          </div>

          <div class="mb-3">
            <label for="Type" class="form-label">Type</label>
            <input type="text" value="<%= book.type %>" name="Type" class="form-control" id="Type" placeholder="Ex: Policier, Aventure, etc." required>
          </div>

          <div class="mb-3">
            <label for="Description" class="form-label">Description</label>
            <input type="text" value="<%= book.description %>" name="Description" class="form-control" id="Description" required>
          </div>

          <div class="mb-3">
            <label for="nbPages" class="form-label">Nombre de pages</label>
            <input type="number" value="<%= book.nbPages %>" name="nbPages" min="0" class="form-control" id="nbPages" required>
          </div>

        <button type="submit" class="btn btn-primary">Modifier le livre</button>
      </form>
</div>




<%- include('../template/footer.ejs') %>